.gradle/
build/
.intellijPlatform/
libs/
.idea/
src/integrationTest/fixtures/project/node_modules/
src/integrationTest/fixtures/project/haxe_libraries/
src/integrationTest/fixtures/project/.haxerc
local.properties
